.loader {
  margin: 50px 0;
  width: 100%;
  text-align: center;

  &_img {
    width: 60px;
    height: auto;
    animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
