.flourInputContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  margin-bottom: 12px;
}

.flourInputWrapper {
  width: 100%;
  position: relative;
}

.flourInputClearBtn {
  position: absolute;
  right: 54px;
  width: 20px;
  top: 50%;
  transform: translateY(-50%);

  img {
    width: 100%;
    height: auto;
  }
}

.flourInput {
  text-align: left;
  border: 2px solid #febd2d;
  border-radius: 6px;
  font-size: 28px;
  height: 55px;
  padding: 5px 50px 5px 18px;
  width: 100%;

  outline: none;
}

.quantityMetric {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 24px;
  color: #cdcdcd;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  padding-left: 2px;

  &:before {
    content: '';
    position: absolute;
    width: 1px;
    background: #cdcdcd;
    top: 50%;
    left: 0;
    height: 60%;
    transform: translateY(-50%);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}