@import '~antd/dist/antd.css';
@import './Loader';
@import './Ingredients';

@font-face {
font-family: 'Google Sans Regular';
font-style: normal;
font-weight: normal;
src: local('Product Sans Regular'), url('../assets/fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
font-family: 'Google Sans Bold';
font-style: normal;
font-weight: normal;
src: local('Product Sans Bold'), url('../assets/fonts/ProductSans-Bold.woff') format('woff');
}
  

* {
  box-sizing: border-box;
}

body {
  font-family: 'Google Sans Regular', sans-serif;
}

.app {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 22px;
  padding: .75rem 1rem;
  height: 100%;
  display: flex;
  top: 8vh;
}

.app-container {
  transition: .6s; 
}

main {
  margin: 0 15px;
}

.instruction {
  margin-bottom: 10px;
  font-size: 30px;
}

.quantity-container {
  display: flex;
  border: 2px solid #FEBD2D;
  border-radius: 6px;
  font-size: 28px;
  padding: 5px 6px;
  width: 100%;
}

input {
  border: 0;
  width: 100%;
  text-align: right;
  font-size: 38px;
}

.quantity {
  font-size: 48px;
  line-height: 48px;
  margin-left: auto;
  font-size: 48px;
  line-height: 48px;
  margin-left: auto;
  width: 26px;
  display: inline-block;
  color: lightgrey;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.action {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 0;
  border-radius: 6px;
  padding: 8px;

  &:disabled {
    opacity: .6;
  }

  &.calc {
    background-color: #FEBD2D;
    color: white;
    width: 100%;
    padding: 10px 2px;
  }

  &.reset {
    margin-left: auto;
    background-color: #DDDDDD;
  }
}

.info {
  position: relative;
  border-radius: 6px;
  background-color: #f0f0f0;
  color: #303030;
  margin: 20px 0;
  padding: 20px;
  transform: translateY(500px);
  transition: transform 1.5s ease;

  #close-info {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    width: 18px;
    height: 18px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

#showIngredientsQuantity {
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 70px;
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  z-index: 2;
  padding: 20px;
  border-radius: 6px;

  &.showPopup {
    display: block;
  }
}
